<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816100427126-plc8vfnna9gh5jn2koedn78mtddef8ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816100427126-plc8vfnna9gh5jn2koedn78mtddef8ca</string>
	<key>API_KEY</key>
	<string>AIzaSyDtgI-Lyz-D8ga89NTHai_t6D94V6bY6LY</string>
	<key>GCM_SENDER_ID</key>
	<string>816100427126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gthio.todosandboxkmm</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-kmm</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-kmm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816100427126:ios:4b5e6806692f87c582a657</string>
</dict>
</plist>